@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez BigImmo</h1>
    <br />
    <img src="./Images/logo.png" alt="logo" style="display:inline-block ; height:250px; float: left" />
    <p>
        <b>Ici vous pouvez :</b>  </br> </br>

        - Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. </br>       
        - Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </br>        
        - Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </br>
    </p>
</div>
