@{
    ViewData["Title"] = "Mauvaise requete";
}

<div class="container">
    <h3 class="mb-3">Petit problème</h3>

    <p>Il n'est pas possible de traiter votre requête...</p>

    <a class="btn btn-primary mt-2" asp-controller="Gestionnaire" asp-action="Index">Retour à la liste</a>
</div>

